.Person{
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid lightgray;
    box-shadow: 1px 0 5px 0 gray;
    vertical-align: top;
    position: relative;
}
.Person .red{
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}